* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}